@charset "utf-8";
#menu,
#menuToggle span:first-child {
    transform-origin: 0% 0%;
}
.field-box p,
.product-catagory .product-catagory-text a {
    color: #f0f0f0;
}
.logo,
.material-symbols-outlined {
    filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.6));
}
nav {
    height: 0;
}
#menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}
#menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s;
}
#menuToggle a:hover {
    color: #e43449;
}
#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}
#menuToggle span,
.IR,
.carousel-container,
.container-demo-link-section,
.header,
.video-hero {
    position: relative;
}
#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s;
}
#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}
#menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 125px 50px 50px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
#menu li {
    padding: 10px 0;
    font-size: 22px;
}
#menuToggle input:checked ~ ul {
    transform: none;
}
.container-demo-link {
    position: relative;
    width: auto;
    height: 312px;
    margin-top: 20px;
    overflow-x: hidden;
    margin-bottom: 20px;
    overflow: auto;
    -webkit-box-shadow: inset 0 0;
    box-shadow: inset 0 0;
}
.background-image {
    position: absolute;
    width: 66.666%;
    object-fit: cover;
    left: 0;
    top: 0;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    margin-top: 4ex;
}
.demo-info,
.gradient-overlay {
    position: absolute;
    top: 0;
    width: 33.333%;
}
.demo-image {
    max-width: none;
}
.gradient-overlay {
    left: 33.333%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), #000);
    z-index: 1;
}
#bgVideo,
.demo-info {
    right: 0;
    background-color: #000;
}
.demo-info {
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 3;
}
.guitar-speaker-carousel {
    position: relative;
    display: flex;
    overflow: hidden;
}
.productcontainer {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    max-width: 100vw;
    overflow-x: auto;
    visibility: visible;
    padding-top: 31px;
    padding-bottom: 30px;
    padding-left: 450px;
    z-index: 1;
    flex-grow: 1;
}
.demo-link-fade {
    position: absolute;
    top: -37px;
    bottom: -43px;
    left: 0;
    right: 0;
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0) 0, #000 10.88%, #000 93.78%, rgba(255, 0, 0, 0) 100%);
    background-image: -moz-linear-gradient(270deg, rgba(0, 0, 0, 0) 0, #000 10.88%, #000 93.78%, rgba(255, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(270deg, rgba(0, 0, 0, 0) 0, #000 10.88%, #000 93.78%, rgba(255, 0, 0, 0) 100%);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, #000 10.88%, #000 93.78%, rgba(255, 0, 0, 0) 100%);
}
.top-demo-inner-fade {
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0;
    z-index: 4;
    height: 50px;
    width: 100%;
}
#bass,
#uk,
#us {
    box-shadow: 0 0 15px #2a3d66;
}
.field-box {
    position: absolute;
    background-color: #c82e40;
    padding: 20px;
    box-sizing: border-box;
    width: 425px;
    height: 450px;
    margin-right: 5px;
    min-width: 347px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 15px #333;
    opacity: 1;
    z-index: 2;
    top: 19px;
    left: 0;
    border: solid #7b1c27;
}
.field-box h2,
.field-box h3 a {
    color: #f0f0f0;
    text-align: center;
    text-decoration: none;
}
.field-box p {
    align-items: center;
}
.field-box h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
}
.product-slides {
    display: flex;
    overflow-x: auto;
    margin-left: 300px;
}
.slide,
.slide-am,
.slide-uk {
    padding: 20px;
    box-sizing: border-box;
    height: 425px;
    margin: 0 15px;
    border-radius: 10px;
    max-width: 400px;
    min-width: 302px;
    object-fit: contain;
    text-align: center;
}
.slide {
    background-color: #f0f0f0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    color: #000;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}
.slide:hover {
    transform: scale(1.05);
    box-shadow: 0 0 24px gold !important;
    z-index: 10;
}
#bass {
    -webkit-box-shadow: 0 0 15px #2a3d66;
}
.slide-am,
.slide-uk {
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.slide img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}
.slide h4 {
    overflow: hidden;
    white-space: wrap;
    text-overflow: inherit;
    width: 100%;
    color: #3333333;
    font-weight: bolder;
    font-size: large;
}
.slide a {
    text-decoration: none;
    color: #333;
}
.demo-link-button {
    background-color: #c72e40;
    margin-top: 0;
    padding: 16px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    border: solid #7b1c27;
}
body {
    width: 100vw;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #333;
    background-image: url(images/45-degree-fabric-dark.png);
}
#bgVideo {
    position: static;
    min-width: 100%;
    min-height: 100%;
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0;
}
.overlay-logo,
.overlay-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    min-height: 95px;
}
.overlay-text {
    top: 30%;
    color: #fff;
    font-size: 2em;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
    font-weight: 700;
}
.overlay-logo {
    top: 40%;
}
.logo {
    width: 50vw;
    min-width: 150px;
    height: auto;
}
.black-section {
    background: linear-gradient(to bottom, #000 90%, rgba(0, 0, 0, 0) 100%);
    margin-top: -25px;
    color: #fff;
    text-align: center;
}
.video-fade-out {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
}
.black-section .black-section-text h1 {
    font-size: xx-large;
}
.introduction .black-section .black-section-text {
    min-width: 0;
    margin-top: 18px;
    margin-right: 25%;
    margin-left: 25%;
    min-height: 84px;
    padding-top: 35px;
    padding-bottom: 0;
}
.product-image {
    min-width: auto;
    object-fit: contain;
    height: auto;
    min-height: 263px;
    max-width: none;
}
.product-image-window {
    width: 250px;
}
.product-catagory {
    background-color: #7b1c27;
    border-radius: 5px;
    padding-right: 3px;
    margin-top: 13px;
    align-items: center;
    padding-left: 3px;
}
.product-catagory-text {
    text-align: center;
    text-decoration: none;
}
.field-box .product-catagory {
    display: flex;
    justify-content: center;
    width: 100%;
}
::-webkit-scrollbar {
    width: 7px;
    height: 0;
}
::-webkit-scrollbar-track {
    background-color: #333;
}
::-webkit-scrollbar-thumb {
    background-color: #b0b0b0;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #b0b0b0;
}
.material-symbols-outlined {
    font-size: 50px !important;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    backface-visibility: hidden;
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 50;
    color: #fff;
}
.slide p {
    color: #333;
    font-weight: lighter;
    margin-top: -10px;
    text-align: center;
}
.background-image demo-image {
    background-image: -webkit-linear-gradient(270deg, #000 0, red 100%);
    background-image: -moz-linear-gradient(270deg, #000 0, red 100%);
    background-image: -o-linear-gradient(270deg, #000 0, red 100%);
    background-image: linear-gradient(180deg, #000 0, red 100%);
}
.carousel-next,
.carousel-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}
.carousel-prev {
    left: 30vw;
}
.carousel-next {
    right: 1vw;
}
.retailers-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -33px;
    padding-bottom: 15px;
}
.guitar-center-logo img,
.musicians-friend-logo img,
.sweetwater-logo img {
    max-width: 272px;
    height: auto;
    margin-right: 20px;
}
.musicians-friend-logo img {
    margin-right: 50px;
}
.speaker-8 img {
    transform: scale(0.8);
}
.speaker-10 img {
    transform: scale(0.9);
}
.speaker-12 img {
    transform: scale(1);
}
.speaker-15 img {
    transform: scale(1.1);
}
.button:hover {
    transform: scale(1.01);
    box-shadow: 0 0 8px #f0f0f0;
    transition: transform 0.1s, box-shadow 0.3s;
}
.IR-section {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 250px;
    font-weight: 700;
    background-image: url(images/45-degree-fabric-dark.png);
    background-color: #6d6d6d;
    z-index: -2;
}
.logo-marquee {
    display: flex;
    animation: 60s linear infinite slideLeft;
    white-space: nowrap;
    height: 100%;
}
.logo-marquee img {
    width: auto;
    height: 100%;
    object-fit: cover;
    margin-right: 1vw;
}
.IR-info-box {
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 3;
    background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0) 0, rgba(51, 51, 51, 0) 1.56%, #000 11.41%, #000 88.61%, rgba(51, 51, 51, 0) 98.45%);
    background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0) 0, rgba(51, 51, 51, 0) 1.56%, #000 11.41%, #000 88.61%, rgba(51, 51, 51, 0) 98.45%);
    background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, 0) 0, rgba(51, 51, 51, 0) 1.56%, #000 11.41%, #000 88.61%, rgba(51, 51, 51, 0) 98.45%);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(51, 51, 51, 0) 1.56%, #000 11.41%, #000 88.61%, rgba(51, 51, 51, 0) 98.45%);
}
@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.IR-section .IR-info-box p {
    margin-right: 24%;
    margin-left: 20%;
    font-size: medium;
    font-weight: lighter;
}
.IR-section .IR-info-box .IR-link-button {
    color: #fff;
    background-color: #c82e40;
    padding: 16px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 14px;
}
.productcontainer .slide.speaker-8.test h4 {
    text-align: left;
    color: #333;
}
.slide.speaker-8.test a #tester {
    margin-top: -18px;
}
.productcontainer .slide.speaker-8.test p {
    text-align: left;
    font-size: small;
    margin-top: -22px;
}
.slide button {
    font-size: small;
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: #7c1c28;
    color: #fff;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    float: right;
    margin-bottom: 35px;
}
.new-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    min-height: 200px;
    width: inherit;
}
.footer a,
.footer p {
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
}
.social-icons {
    display: flex;
    justify-content: center;
    list-style: none;
}
.social-icons li {
    margin: 0 10px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.copyright {
    background-color: #595959;
    min-height: 43px;
}
.product-catagory-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.field-box .product-category-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.field-box .product-category.button {
    width: auto;
    margin-bottom: 10px;
    background-color: #7b1c27;
    border-radius: 5px;
}
.field-box .product-category.button .product-category-text a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: inherit;
}
.field-box .product-catagory {
    margin-right: 0;
    margin-left: 0;
    justify-content: center;
}
